### Day Objectives
- Dictionaries
  - it is a data structures
  - data will be store in pair format i.e,key:value
  - for dfining empty dictionary we can use {} or dict()
  - key => max string
  - values may be string,integer,list,tuple,set,dictionary

In [2]:
stu={'name':'siri','rollno':504,'branch':'cse'}
stu

{'name': 'siri', 'rollno': 504, 'branch': 'cse'}

In [5]:
stu['name']

'siri'

In [6]:
stu['rollno']

504

In [8]:
stu['rollno']=1
stu

{'name': 'siri', 'rollno': 1, 'branch': 'cse'}

In [9]:
stu['age']=21

In [10]:
stu

{'name': 'siri', 'rollno': 1, 'branch': 'cse', 'age': 21}

In [11]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [15]:
stu.keys()

dict_keys(['name', 'rollno', 'branch', 'age'])

In [17]:
stu.items

In [18]:
stu.pop('branch')

'cse'

In [20]:
stu

{'name': 'siri', 'rollno': 1, 'age': 21}

In [21]:
stu.popitem()

('age', 21)

In [22]:
stu

{'name': 'siri', 'rollno': 1}

In [24]:
stu['age']=21

In [25]:
stu

{'name': 'siri', 'rollno': 1, 'age': 21}

In [27]:
stu

{'name': 'siri', 'rollno': 1, 'age': 21}

In [30]:
clear(stu)

In [31]:
stu

{'name': 'siri', 'rollno': 1, 'age': 21}

In [28]:
marks={}.fromkeys(['java','python','c','c++'])
marks

{'java': None, 'python': None, 'c': None, 'c++': None}

In [36]:
marks.setdefault('c',94)

In [33]:
marks

{'java': None, 'python': None, 'c': None, 'c++': None}

In [4]:
d={}
names=input().split()
for name in set(names):
    d[name]=(names.count(name))

siri siva vasu abdul anil

In [5]:
d

{'abdul': 1, 'vasu': 1, 'siri': 1, 'anil': 1, 'siva': 1}

In [1]:
d1=dict()
names=input().split()
# names
for indops,value in enumerate(names):
 #   print(indops,value)
     d1[indops]=value
d1

abdul siri siva vasu arjun arun varun

{0: 'abdul',
 1: 'siri',
 2: 'siva',
 3: 'vasu',
 4: 'arjun',
 5: 'arun',
 6: 'varun'}

In [7]:
s=input()
sm=0
for ch in s:
    if ch.isdigit():
        sm +=int(ch)
sm

lihl656khkj68468

49

In [8]:
s=input().split()
sm=0
for ch in s:
    if ch.isdigit():
        sm +=int(ch)
sm

jgjh 6546 kjghjk 684

7230

In [9]:
keys =lists()
values=[]
d={}
n=int(input("enter keys or values range:"))
for i in range(n):
    keys=input("enter key:")
    keys.append(key)
    value=input("enter value")

SyntaxError: invalid syntax (<ipython-input-9-36b8f0750c54>, line 8)

In [10]:
stuinfo={'names':['siri','vasu','jyo','laks'],'rollno':[501,502,503,504]}
stuinfo

{'names': ['siri', 'vasu', 'jyo', 'laks'], 'rollno': [501, 502, 503, 504]}

In [11]:
stuinfo['names'][1]

'vasu'

In [12]:
stuinfo['names'][1:]

['vasu', 'jyo', 'laks']

In [15]:
names=[]
mbnos=[]
sinfo={}
words=input().split()
for word in words:
    if word.isdigit():
        mbnos.append(word)
    else:
        names.append(word)
sinfo['names']=names
sinfo['mbnos']=mbnos
sinfo

siri 6574515 vasu 26894656

{'names': ['siri', 'vasu'], 'mbnos': ['6574515', '26894656']}

In [ ]:
# task
# input:Entry