In [3]:
nums=[i for i in range(int(input()))]

10

In [4]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
sqrs=[i**2 for i in range(1,10)]

In [10]:
sqrs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
even=[i for i in range(0,20,2)]

In [15]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
odd=[i for i in range(1,20,2)]

In [18]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
vals=[i for i in range(1,100) if(i%2==0)]

In [21]:
vals

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [27]:
valo=[i for i in range(1,100) if(i%2!=0)]

SyntaxError: invalid syntax (<ipython-input-27-5305b828bfb3>, line 1)

In [26]:
valo

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [35]:
v=[int(i) for i in input().split()]

1 5 6 9 8 7

In [36]:
print(v)

[1, 5, 6, 9, 8, 7]

In [37]:
vals=input().split()
print(vals)
li=[]
for i in vals:
    li.append(int(i))
li

1 2 3 5 6 9 8 7
['1', '2', '3', '5', '6', '9', '8', '7']

[1, 2, 3, 5, 6, 9, 8, 7]

In [38]:
def int1(x):
    return int(x)
vals=list(map(int1,input("enter a nubers:").split()))

enter a nubers:1 2 3 6 5 7 8

In [39]:
vals

[1, 2, 3, 6, 5, 7, 8]

In [45]:
def int2(i):
    return int(i)**3
vals=list(map(int2,input("enter a number:").split()))

enter a number:1 2 6 3 5 4

In [46]:
print(vals)

[1, 8, 216, 27, 125, 64]

In [52]:
# generate sum of cubes
def int2(i):
    return int(i)**3
vals=sum(list(map(int2,input("enter a number:").split())))
#sum(vals)
print(vals)

enter a number:1 2 3 4 5
225

In [54]:
# sum of range numbers
nums=[i for i in range(int(input()))]
sum(nums)

5

10

In [57]:
# sum of squares
nums=[i**2 for i in range(int(input()))]
sum(nums)

4

14

In [58]:
# generate math table for a given number
x=int(input())
[print(x,'*',i,'=',x*i) for i in range(1,11)]

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

[None, None, None, None, None, None, None, None, None, None]

In [60]:
nums=list("even" if i%2==0 else "odd" for i in range(1,10))

In [61]:
print(nums)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [64]:
# largest number
['second value is big' if int(input())<int(input()) else "first value is big"]

65
21

['first value is big']

In [65]:
3

3

In [68]:
# print 5 multiples in between 1 to 100
num=[i for i in range(1,100) if i%5==0]

In [69]:
print(num)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [70]:
# nested if
[i for i in range(1,101) if i%2==0 if i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [74]:
# nested for
[(i,j) for i in range(1,3) for j in range(1,6) if j% 2==0]

[(1, 2), (1, 4), (2, 2), (2, 4)]

# Dictionary comprehensions

In [75]:
{k:v for k,v in enumerate([1,2,3,4,5])}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [77]:
keys=['name','rollno','age']
value=['siri',504,20]
# d={keys:value for keys,value in enumerate}
d={k:v for k,v in zip(keys,value)}
d

{'name': 'siri', 'rollno': 504, 'age': 20}