## Day Objectives(21-09-2019)
- Iterative statements
- jumping statements
- python Datastructures
    - List
    - tuple
    - Dictionaries
    - sets

### Iterative statements
- doing task again and again
- 2 types
    - for
    - while

In [5]:
range(4,15,45)
range(1,10)
range(5)

range(0, 5)

In [8]:
'a'in 'hi si'
'101' in '101100101'
'101100101'.count('101')

2

In [9]:
for var_name in range(10):
    print(var_name,end=",")

0,1,2,3,4,5,6,7,8,9,

In [11]:
for j in range(4,9):
    print(j,end=" ")

4 5 6 7 8

In [12]:
for i in range(5,16):
    print(i,end=" ")

5 6 7 8 9 10 11 12 13 14 15

In [13]:
for f in range(5,9,2):
    print(f,end=" ")

5 7

In [18]:
for even in range(0,100,2):
    print(even,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [17]:
for odd in range(1,100,2):
    print(odd,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [21]:
for rev in range(10,0,-1):
    print(rev,end=" ")

10 9 8 7 6 5 4 3 2 1

In [25]:
for reveven in range(100,0,-2):
    print(reveven,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [29]:
for revodd in range(99,0,-2):
    print(revodd,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [35]:
name="appsdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])
#for i in range(name[])

a
c
c

In [39]:
for index in range(len(name)):
    print(name[index],end="")

appsdc

In [41]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [45]:
for ch in name:
    print(ch,end=" ")

a p p s d c

In [52]:
# generate math table
n=int(input("enter n value"))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

enter n value6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [58]:
n=int(input("enter n value"))
for a in range(1,a+1):
    for b in range(1,11):
        print(a,'x',b,'=',a*b)

enter n value5
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [1]:
n=int(input("enter n value"))
for a in range(1,11):
    for b in range(1,n+1):
        print(b,'x',a,'=',a*b,end="  ")
    print("")

enter n value4
1 x 1 = 1  2 x 1 = 2  3 x 1 = 3  4 x 1 = 4
1 x 2 = 2  2 x 2 = 4  3 x 2 = 6  4 x 2 = 8
1 x 3 = 3  2 x 3 = 6  3 x 3 = 9  4 x 3 = 12
1 x 4 = 4  2 x 4 = 8  3 x 4 = 12  4 x 4 = 16
1 x 5 = 5  2 x 5 = 10  3 x 5 = 15  4 x 5 = 20
1 x 6 = 6  2 x 6 = 12  3 x 6 = 18  4 x 6 = 24
1 x 7 = 7  2 x 7 = 14  3 x 7 = 21  4 x 7 = 28
1 x 8 = 8  2 x 8 = 16  3 x 8 = 24  4 x 8 = 32
1 x 9 = 9  2 x 9 = 18  3 x 9 = 27  4 x 9 = 36
1 x 10 = 10  2 x 10 = 20  3 x 10 = 30  4 x 10 = 40

In [1]:
# n=int(input("enter  n number"))
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [19]:
# Biggest of 3 numbers
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
def minmax(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c
print(minmax(a,b,c),"is biggest number")

enter a value4
enter b value5
enter c value2
5 is biggest number

In [22]:
# smallest of 3 numbers we can wite in above model also
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
def small(a,b,c):
    if a<b and a<c:
        print(a)
    elif b<a and b<c:
        print(b)
    else:
        print(c)
small(a,b,c)

enter a value2
enter b value8
enter c value3
2

In [24]:
# print even numbers in a given range using functions
a=int(input("enter a number")):
def even():
    print(a%2==0)
even()

SyntaxError: invalid syntax (<ipython-input-24-9b6f65ced0e8>, line 2)

In [26]:
# print odd numbers in a given range using functions

In [17]:
# factorial of a number
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

In [27]:
num=int(input("Enter a number:"))
print(fact(num))

Enter a number:5
120

In [28]:
# Build logic to find given numbers is a prime or not using function

## Jumping Statements
- break
- continue

In [33]:
for i in range(1,100):
    if (i==50):
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [37]:
for i in range(1,100):
    if(i%5==0):
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

## Datastructures:

### List
- it is data structure
- it is a mutable
- for defining list we are using[and]
- and also it is a Data type

In [43]:
li=[15,45,49,58.12,"siri","a"]
print(li,type(li))
li[0]
#print(len(li)

[15, 45, 49, 58.12, 'siri', 'a'] <class 'list'>

15

In [48]:
print(len(li))
print(li[:1])
print(li[1:])
print(li[2:5])
li[::-1]

6
[15]
[45, 49, 58.12, 'siri', 'a']
[49, 58.12, 'siri']

['a', 'siri', 58.12, 49, 45, 15]

In [49]:
l1=[1,2,3,4,5,6,7]
print(li+l1)

[15, 45, 49, 58.12, 'siri', 'a', 1, 2, 3, 4, 5, 6, 7]

In [53]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [60]:
li.append(5)
print(li)

[15, 45, 49, 58.12, 'siri', 'a', 50, 50, 2, 45, 5]